{{!--
/************************************************
* Application:  NOD
* File:  app/templates/calendar.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 90 - implement Calendar route for GUI
* Purpose: Handlebar Script for calendar route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
*
***********************************************/
--}}
<div id="topBar">NoDE Calendar Hamburger</div>
<div id="body">
  <br><br>This is a placeholder for a calendar component<br><br>
</div>
<div id="footer">Footer placeholder<br>
  <ul>
    <li>- User Posting from filtered Data Model</li>
    <li>- User Posting from filtered Data Model</li>
    <li>- User Posting from filtered Data Model</li>
  </ul>

</div>
