{{!--
/************************************************
* Application:  NOD
* File:  app/templates/login.hbs
* Author:
* Creation Date: 05 Nov 2018
* Feature: 22 - implement login route
* Purpose: Handlebar Script for login route - this should be the
*          main page, and should contain the login details
* Modification History:
* - 05 Nov 2018 (bwp) - Initial build - sample display
* - 26 Nov 2018 (aib) - Adding html and css for login styling
* Licensing Information
***********************************************/
--}}

<div class="login-main">

    <div class="login-logo-box">
        <img class="login-logo" src="assets/logo.png">
    </div>

    <div class="login-entry">

        {{gatekeeper-sign-in complete=(action "complete")}}

        {{!-- {{#link-to "create-account" class="register-btn"}}
            Register
        {{/link-to}} --}}

    </div>

    {{outlet}}
</div>
