{{!--
/************************************************
* Application:  NOD
* File:  app/templates/login.hbs
* Author:
* Creation Date: 05 Nov 2018
* Feature: 22 - implement login route
* Purpose: Handlebar Script for login route - this should be the
*          main page, and should contain the login details
* Modification History:
* - 05 Nov 2018 (bwp) - Initial build - sample display
<<<<<<< HEAD
=======
* - 26 Nov 2018 (aib) - Adding html and css for login styling
* Licensing Information
>>>>>>> Added the style file for login route
***********************************************/
--}}

<div class="login-main">

    <div class="login-logo-box">
        <img class="login-logo" src="assets/logo.png">
    </div>

    {{!-- <div class="login-entry">
        <div class="field-entry">
            {{input class="email"}} <br> <br>
            {{input class="password"}}
        </div>
        <div class="button-entry"></div>
    </div> --}}

    {{gatekeeper-sign-in class="login-entry" complete=(action "complete")}}

    {{outlet}}
</div>
