<!--
/************************************************
* Application:  NOD
* File:  app/templates/login.hbs
* Author:
* Creation Date: 05 Nov 2018
* Feature: 22 - implement login route
* Purpose: Handlebar Script for login route - this should be the
*          main page, and should contain the login details
* Modification History:
* - 05 Nov 2018 (bwp) - Initial build - sample display
*
* Licensing Information
***********************************************/
-->
<h2>Login Page - app/templates/login.hbs</h2>
<h3>Image Goes Here</h3>
<label>Username:</label><input type="text">
<label>Password:</label><input type="password">
<h1></h1>
<p>Forgot password?</p>
<h1></h1>
<p>New User?</p>
{{outlet}}