{{!--
/************************************************
* Application:  NOD
* File:  app/templates/onboarding.hbs
* Author:
* Creation Date: 11 Nov 2018
* Feature: 46 - implement  onboarding main route
* Purpose: Handlebar Script for onboarding route - this should be the
*          main page, and should be the container for the onboarding
*          process
* Modification History:
* - 11 Nov 2018 (bwp) - Initial build - sample display
*
***********************************************/
--}}

<div id="header"><h2>Onboarding - header section (Logo goes here)</h2></div>
<div id="body" class="body">
  {{outlet}}
</div>
<div id="footer"><h2>Onboarding - footer section</h2></div>