{{!--
/************************************************
* Application:  NOD
* File:  app/templates/reset-password.hbs
* Author:
* Creation Date: 27 Nov 2018
* Feature: XX - GUI / page view for password reset page
* Purpose: Handlebar Script for onboarding route - this should be the
*          main page, and should be the container for the onboarding
*          process
* Modification History:
* - 27 Nov 2018 (bwp) - Initial build
***********************************************/
--}}

<div id="header"><h2>Password Reset</h2></div>
<div id="body" class="body">
  <p>Please enter your e-mail address and we will send you a password reset link.</p>
  <form>
    <label>E-mail address: </label><input id="resetPassword" type="email">
  </form>

  <button onclick={{action "resetPassword"}}>Reset Password</button>
</div>
<div id="footer"><h2>Onboarding - footer section</h2></div>