<!--
/************************************************
* Application:  NOD
* File:  app/templates/onboarding/survey/payment.hbs
* Author:
* Creation Date: 11 Nov 2018
* Feature: 46 - implement  onboarding
* Purpose: Handlebar Script for user's payment information
* Modification History:
* - 11 Nov 2018 (bwp) - Initial build - sample display
*
***********************************************/
-->
<div>
  <a href="education">Previous - Education Level</a>
</div>
<h2>Onboarding - Payment section</h2>
<form onSubmit="">
  <label>Bank:</label><input type="text"><br>
  <label>ABA Routing Number:</label><input type="text"><br>
  <label>Account Number:</label><input type="text"><br>
  <label>Account Type:</label><input type="text"><br>

</form>

<button type="submit">Submit Payment Info</button>
{{outlet}}