<div class="survey-question">
  <div class="text">How many children do you have?</div>
</div>
<div class="survey-buttons">
  {{#nod-button title="0" submit=(action "optionOne")}}
  {{/nod-button}}
  {{#nod-button title="1-2" submit=(action "optionTwo")}}
  {{/nod-button}}
  {{#nod-button title="3-4" submit=(action "optionThree")}}
  {{/nod-button}}
  {{#nod-button title="5+" submit=(action "optionFour")}}
  {{/nod-button}}
</div>