<div>
  <a href="drugs">Previous - Survey (Drugs)</a><a href="marital">Next - Survey (Marital Status)</a>
</div>
<h2>Do you eat a healthy diet?</h2>
<form onSubmit="">
  <input type="range" id="healthyDiet" name="healthyDiet"><label for="healthyDiet">Yes</label><br>
</form>
<button type="submit">Next Question</button>