<div class="survey-question">
  <div class="text">Do you use recreational drugs?</div>
</div>
<div class="survey-buttons">
  {{#nod-button title="Yes" submit=(action "yes")}}
  {{/nod-button}}
  {{#nod-button title="No" submit=(action "no")}}
  {{/nod-button}}
</div>
