<div>
  <a href="smoking">Previous - Survey (smoking)</a><a href="diet">Next - Survey (Diet)</a>
</div>
<h2>Do you use recreational drugs?</h2>
<form onSubmit="">
  <input type="radio" id="yesDrugs" name="drugs"><label for="yesDrugs">Yes</label><br>
  <input type="radio" id="noDrugs" name="drugs"><label for="noDrugs">No</label><br>
</form>
<button type="submit">Next Question</button>