<div class="survey-question">
  <div class="text">What is your marital status?</div>
</div>
<div class="survey-buttons">
  {{#nod-button title="Never Married" submit=(action "optionOne")}}
  {{/nod-button}}
  {{#nod-button title="Married" submit=(action "optionTwo")}}
  {{/nod-button}}
  {{#nod-button title="Divorced" submit=(action "optionThree")}}
  {{/nod-button}}
  {{#nod-button title="Widowed" submit=(action "optionFour")}}
  {{/nod-button}}
</div>