
<h2>What is your marital status?</h2>
{{#nod-button title="Never Married" submit=(action "optionOne")}}
{{/nod-button}}
{{#nod-button title="Married" submit=(action "optionTwo")}}
{{/nod-button}}
{{#nod-button title="Divorced" submit=(action "optionThree")}}
{{/nod-button}}
{{#nod-button title="Widowed" submit=(action "optionFour")}}
{{/nod-button}}
