<div>
  <a href="alcohol">Previous - Survey (Alcohol)</a><a href="drugs">Next - Survey (Drugs)</a>
</div>
<h2>Do you smoke cigarettes?</h2>
<form onSubmit="">
  <input type="radio" id="yesSmoke" name="smoking"><label for="yesSmoke">Yes</label><br>
  <input type="radio" id="noSmoke" name="smoking"><label for="noSmoke">No</label><br>
</form>
<button type="submit">Next Question</button>