<div class = "body-grid">
  <div class="text">
    <div class="body">
      Most studies limit participation to people of certain demographics
      or health. The following lifestyle questions help us make the best
      recommendations for you.
    </div>
    <div class="confidential">
      Your answers will be confidential. Skip any questions you prefer not to answer.
    </div>
  </div>
  {{#nod-button title="Continue" submit=(action "continue")}}
  {{/nod-button}}
</div>