<div>
  <a href="userinfo/2">Previous - Basic Info (2)</a>  <a href="alcohol">Next - Alcohol</a>
</div>

<h2>Onboarding - Lifestyle Survey</h2>
<h3>Now that your user account has been created, please allow us to ask some questions regarding your current lifestyle and health.</h3>
<button type="submit">Submit Lifestyle Info</button>
{{#nod-button title="Continue" submit=(action "continue")}}
{{/nod-button}}