<p>
  Most studies limit participation to people of certain demographics
  or health. The following lifestyle questions help us make the best
  recommendations for you.
</p>
{{#nod-button title="Continue" submit=(action "continue")}}
{{/nod-button}}