<div class="text">
  <div class="title">Education</div>
</div>
<h3>Select your level of education.</h3>
{{#nod-button title="high school / ged" submit=(action "optionOne")}}
{{/nod-button}}
{{#nod-button title="some college" submit=(action "optionTwo")}}
{{/nod-button}}
{{#nod-button title="bachelor's" submit=(action "optionThree")}}
{{/nod-button}}
{{#nod-button title="masters or higher" submit=(action "optionFour")}}
{{/nod-button}}
{{#nod-button title="other" submit=(action "optionFive")}}
{{/nod-button}}