<div class="text">
  <div class="title">Education</div>
  <div class="onboard-question">Select your level of education.</div>
</div>
<div class="buttons-grid">
  {{#nod-button title="high school / ged" submit=(action "optionOne")}}
  {{/nod-button}}
  {{#nod-button title="some college" submit=(action "optionTwo")}}
  {{/nod-button}}
  {{#nod-button title="bachelor's" submit=(action "optionThree")}}
  {{/nod-button}}
  {{#nod-button title="masters or higher" submit=(action "optionFour")}}
  {{/nod-button}}
  {{#nod-button title="other" submit=(action "optionFive")}}
  {{/nod-button}}
</div>