
<div class="text">
  <div class="title">Payment</div>
</div>

{{input class="input-field" value=bankName placeholder="Your Bank"}}
{{input class="input-field" value=routingNumber placeholder="Routing Number"}}
{{input class="input-field" value=accountNumber placeholder="Account Number"}}

{{#nod-button title="Finish" submit=(action "continue")}}
{{/nod-button}}
{{#nod-button class="paypal-button"}}
  PayPal
{{/nod-button}}
{{#nod-button class="venmo-button"}}
  venmo
{{/nod-button}}
