<div>
  <a href="education">Previous - Education Level</a>
</div>
<h2>Onboarding - Payment section</h2>
<form onSubmit="">
  <label>Bank:</label><input type="text"><br>
  <label>ABA Routing Number:</label><input type="text"><br>
  <label>Account Number:</label><input type="text"><br>
  <label>Account Type:</label><input type="text"><br>

</form>

<button type="submit">Submit Payment Info</button>
{{#nod-button class="paypal-button"}}
  PayPal
{{/nod-button}}
{{#nod-button class="venmo-button"}}
  venmo
{{/nod-button}}