{{!--
/************************************************
* Application:  NOD
* File:  app/templates/onboarding/usertype.hbs
* Author:
* Creation Date: 11 Nov 2018
* Feature: 46 - implement  onboarding - Selection of User Type.
* Purpose: Handlebar Script for selecting type of user
* Modification History:
* - 11 Nov 2018 (bwp) - Initial build - sample display
*
***********************************************/
--}}

<div>
  <a href="#">Previous - Identify feeder route</a><a href="terms">Next - Terms & Conditions</a>
</div>
<h2>Onboarding - Select your User Type</h2>
<form onSubmit="">
  <input type="radio" id="participant" name="userType"><label for="participant">Participant</label><br>
  <input type="radio" id="researcher" name="userType"><label for="researcher">Researcher</label><br>
</form>

<button type="submit">Get Started</button>