<div class="button-dashboard">
  {{#dropdown-menu-button 
    title='Dashboard'
    target='core.dashboard'
    select=(action 'retract')}}
  {{/dropdown-menu-button}}
</div>

<div class="button-calendar">
  {{#dropdown-menu-button 
    title='Calendar'
    target='core.calendar'
    select=(action 'retract')}}
  {{/dropdown-menu-button}}
</div>

<div class="button-account">
  {{#dropdown-menu-button 
    title='Account'
    target='core.account'
    select=(action 'retract')}}
  {{/dropdown-menu-button}}
</div>

<div class="button-profile">
  {{#dropdown-menu-button 
    title='Profile'
    target='core.profile'
    select=(action 'retract')}}
  {{/dropdown-menu-button}}
</div>

<div class="button-post">
  {{#dropdown-menu-button 
    title='Post'
    target='core.post'
    select=(action 'retract')}}
  {{/dropdown-menu-button}}
</div>