{{!--
/************************************************
* Application:  NOD
* File:  app/templates/onboarding/survey/lifestyle/children.hbs
* Author: Bard Polley
* Creation Date: 14 Nov 2018
* Feature: 41 - Survey - Children
* Purpose: Survey question for number of children
* Modification History:
* - 14 Nov 2018 (bwp) - Initial build - sample display
*
***********************************************/
--}}

<div>
  <a href="marital">Previous - Survey (Marital Status)</a><a href="medical">Next - Survey (Medical)</a>
</div>
<h2>How many children do you have?</h2>
<form onSubmit="">
  <input type="radio" id="zero" name="numberChildren"><label for="zero">None</label><br>
  <input type="radio" id="small" name="numberChildren"><label for="small">1 to 2</label><br>
  <input type="radio" id="medium" name="numberChildren"><label for="medium">3 to 4</label><br>
  <input type="radio" id="large" name="numberChildren"><label for="large">5 or more</label><br>
</form>
<button type="submit">Next Question</button>

{{outlet}}