{{!--
/************************************************
* Application:  NOD
* File:  app/templates/onboarding/survey/lifestyle/drugs.hbs
* Author: Bard Polley
* Creation Date: 13 Nov 2018
* Feature: 40 - Survey Drugs
* Purpose: Survey question for drugs
* Modification History:
* - 13 Nov 2018 (bwp) - Initial build
*
***********************************************/
--}}

<div>
  <a href="smoking">Previous - Survey (smoking)</a><a href="diet">Next - Survey (Diet)</a>
</div>
<h2>Do you use recreational drugs?</h2>
<form onSubmit="">
  <input type="radio" id="yesDrugs" name="drugs"><label for="yesDrugs">Yes</label><br>
  <input type="radio" id="noDrugs" name="drugs"><label for="noDrugs">No</label><br>
</form>
<button type="submit">Next Question</button>


{{outlet}}