{{!--
/************************************************
* Application:  NOD
* File:  app/templates/onboarding/survey/lifestyle/smoking.hbs
* Author: Bard Polley
* Creation Date: 12 Nov 2018
* Feature: 39 - Survey Smoking
* Purpose: Survey question for smoking
* Modification History:
* - 12 Nov 2018 (bwp) - Initial build - sample display
*
***********************************************/
--}}

<div>
  <a href="alcohol">Previous - Survey (Alcohol)</a><a href="drugs">Next - Survey (Drugs)</a>
</div>
<h2>Do you smoke cigarettes?</h2>
<form onSubmit="">
  <input type="radio" id="yesSmoke" name="smoking"><label for="yesSmoke">Yes</label><br>
  <input type="radio" id="noSmoke" name="smoking"><label for="noSmoke">No</label><br>
</form>
<button type="submit">Next Question</button>


{{outlet}}