// route: core/profile

.route__core-profile {


  /* BG Cool */
background-color: #F0F8F8;
/* UI Pane */
box-shadow: 0px -10px 150px rgba(25, 64, 67, 0.17);

  .profile-main {
    position: relatice;
    width: 100vw;
    height: 100%;

    background-color: #FFFFFF;

    .background-profile-image {
      background-image: url('/assets/profile-dummy/profile_main.png');
      height: 200px;
      width: 100vw;
      position: absolute;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
      filter: blur(5px);
    }

    .profile-buttons {
      // display: grid;
      // grid-template-rows: repeat(auto-fit);
      // grid-gap: 1em;
      // align-items: center;
      // grid-auto-flow: row;
      // justify-items: center;
      position: absolute;
      // bottom: 70px;
      //left: 50%;
      margin-left: 25px;
      margin-top: 400px;
      // margin-top: 40px;
      // -webkit-transform: translate(-50%, 0%);
      //-moz-transform: translate(-50%, 0%);
      // transform: translate(-50%, 0%);

      .button-update-account {
        margin-bottom: 10px;

      }

      .button-update-payment {
        margin-bottom: 10px;

      }

      .button-take-survey {
        margin-bottom: 10px;

      }
      
    }
  }

  #user-ID-label, #user-ID-value, #profile-ID-label, #profile-ID-value, #ethnicity-label, #ethnicity-value {
    display: none;
  }

  /*begin figma-generated styles*/

  #profile-picture {
    position: absolute;
    width: 145px;
    height: 145px;
    left: 115px;
    top: 135px;

    /* NOD cast shadow */
    //box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    //border-radius: 50%;
  }

  #name-value {
    position: absolute;
    //width: 124px;
    height: 26px;
    left: 124px;
    top: 285px;

    font-family: urw-din, sans-serif;
    line-height: normal;
    font-size: 21px;

    color: #4E595A;
  }

  #email-label {
    position: absolute;
    width: 28px;
    height: 14px;
    left: 56px;
    top: 331px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #000000;

    opacity: 0.2;
  }

  #email-value {
    position: absolute;
    width: 130px;
    height: 14px;
    left: 61px;
    top: 350px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #4E595A;
  }

  #age-label {
    position: absolute;
    width: 19px;
    height: 14px;
    left: 56px;
    top: 369px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #000000;

    opacity: 0.2;
  }

  #age-value {
    position: absolute;
    width: 12px;
    height: 14px;
    left: 61px;
    top: 388px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #4E595A;
  }

  #height-label {
    position: absolute;
    width: 32px;
    height: 14px;
    left: 105px;
    top: 369px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #000000;

    opacity: 0.2;
  }

  #height-value {
    position: absolute;
    width: 26px;
    height: 14px;
    left: 110px;
    top: 388px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #4E595A;
  }

  #weight-label {
    position: absolute;
    width: 35px;
    height: 14px;
    left: 161px;
    top: 369px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #000000;

    opacity: 0.2;
  }

  #weight-value {
    position: absolute;
    width: 36px;
    height: 14px;
    left: 166px;
    top: 388px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #4E595A;
  }

  #gender-label {
    position: absolute;
    width: 36px;
    height: 14px;
    left: 56px;
    top: 407px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #000000;

    opacity: 0.2;
  }

  #gender-value {
    position: absolute;
    width: 25px;
    height: 14px;
    left: 61px;
    top: 426px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #4E595A;
  }

  #orientation-label {
    position: absolute;
    width: 56px;
    height: 14px;
    left: 123px;
    top: 407px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #000000;

    opacity: 0.2;
  }

  #orientation-value {
    position: absolute;
    width: 42px;
    height: 14px;
    left: 128px;
    top: 426px;

    font-family: URW DIN;
    line-height: normal;
    font-size: 11px;

    color: #4E595A;
  }

}
