// route: core/profile

.route__core-profile {

  .profile-main {
    position: relative;
    width: 375px;
    height: 667px;

    background: #FFFFFF;
  }

  #profile-picture {
    position: absolute;
    width: 145px;
    height: 145px;
    left: 115px;
    top: 105px;

    /* NOD cast shadow */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

}
