// route: dropdown-menu

.dropdown-menu {
  position: absolute;
  top: -35px;
  -webkit-transition: top 0.2s ease-out; /* Safari */
  transition: top 0.2s ease-out;
  width: 100vw;
  height: 100px;
  background-color: #f7a09b;
  box-shadow: inset 0px 19px 19px -20px rgba(0,0,0,0.35); 

  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
}

.dropdown-menu-open {
  position: absolute;
  top: 65px;
  -webkit-transition: top 0.2s ease-out; /* Safari */
  transition: top 0.2s ease-out;
  width: 100vw;
  height: 100px;
  background-color: #f7a09b;
  box-shadow: inset 0px 19px 19px -20px rgba(0,0,0,0.35);  

  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
}

.icon-image {
  width: 40px;
}

.icon-calendar {
  width: 36px
}