// route: hamburger-menu

.hamburger-menu {
  height: 65px;
  width: 75px;
  position: fixed;
  margin-top: -65px;
  background-color: #80d0d6;
  z-index: 99 !important; // !important doesn't seem to be necessary
  -webkit-transition: all 0.2s ease-out; /* Safari */
  transition: all 0.2s ease-out;
}

.hamburger-menu-open {
  height: 65px;
  width: 75px;
  position: fixed;
  margin-top: -65px;
  background-color: #f7a09b;
  z-index: 99 !important; // !important doesn't seem to be necessary
  -webkit-transition: all 0.2s ease-out; /* Safari */
  transition: all 0.2s ease-out;
}

.icon {
  width: 40px;
  position: relative;
  top: 16px;
  left: 16px;
  vertical-align: -webkit-baseline-middle;
}