// route: nod-button

.nod-button-pink {
  background-color: #fbcfcd;
  color: #584b4b;
  font-size: 11px bold;
  font-family: urw-din, sans-serif;
  text-align: center;
  line-height: 48px;
  vertical-align: middle;

  width: 319px;
  height: 48px;
  border-radius: 100px;

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25)
}
