// route: progress-indicator

.progress-indicator {

  height: 45px;
  width: 93%;

  position: absolute;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  bottom: 50px;
  left: 50%;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  justify-items: center;
  align-items: center;
}