// route: onboarding/payment

.route__onboarding-payment {
  #parent
  {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }

  .payment_input {
    display: inline-block;
    width: 70%;
    margin-top: 8%;
  }

  .nod-button
  {
    margin-top: 5%;
  }

  .text
  {
    font-family: urw-din, sans-serif;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-top: 5%;
  }

  .text2
  {
    font-family: urw-din, sans-serif;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-top: 5%;
    font-weight: normal;
    color: #4E595A;
    width: 80vw;
  }
}
