// route: login

.route__login {

    .login-main {
        width: 100vw;
        height: 100vh;
        background-image: url('/assets/login_background.png');
        
        display: grid;
        grid-template-rows: 2fr 3fr;
        grid-template-areas:
            "logo"
            "entry";

    }

    .login-logo-box {
        grid-area: logo;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;

    }

    #ember239 {
        background: #F0F8F8;
        border-radius: 100px;
        height: 23px;
        width: 320px;
        box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.25);
    }

    #ember248 {
        height: 20px;
    }

    #ember250 {
        background: #F0F8F8;
        border-radius: 100px;
        height: 23px;
        width: 320px;
        box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.25);
    }

    #ember254 {
        background-color: #fbcfcd;
        color: #584b4b;
        font-size: 11px;
        font-weight: bold;
        font-family: urw-din, sans-serif;
        letter-spacing: 1px;
        width: 319px;
        height: 48px;
        border-radius: 100px;
        box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .login-entry {
        grid-area: entry;

        margin-top: -200px;
        display: flex;
        justify-content: center;
        align-items: center;


        .register-btn {
            position: absolute;
            margin-top: 150px;
            width: 319px;
            height: 48px;
            border-radius: 100px;
            background-color: #80d0d6;
            text-align: center;
            vertical-align: middle;
            line-height: 48px;
            font-size: 11px;
            letter-spacing: 1px;
            font-family: urw-din, sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration-line: unset;
            color: #faf3f2;
            box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.25);
        }
            

        .reset-text {
            position: absolute;
            -webkit-transform: translate(-90%, 0%);
            -moz-transform: translate(-90%, 0%);
            transform: translate(-90%, 0%);
            left: 50%;
            color: #faf3f2;
            font-size: 14px;
        }

        .reset-password-btn-box {

            position: absolute;
            -webkit-transform: translate(-50%, 0%);
            -moz-transform: translate(-50%, 0%);
            transform: translate(18%, 0%);
            left: 50%;

            .reset-password-btn {
                width: 86px;
                height: 17px;
                text-transform: uppercase;
                font-family: urw-din, sans-serif;
                color: #fbcfcd;
                
            }

        }

        #ember263 { // Click here
            font-family: urw-din, sans-serif;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 1px;
            text-decoration-line: underline;
        }
        
    }

    #ember253 {
        height: 65px;
    }

}
