// route: onboarding

.route__onboarding {

  .progress-indicator-area {
    width: 100vw;
    height: 105px;
    position: absolute;
    bottom: 0px;
  }

  .progress-indicator-bar {
    height: 5px;
    width: 75%;
    background-color: #80d0d6;
    vertical-align: middle;
    position: absolute;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    top: 30px;
    left: 50%;
  }

}