{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/account.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 89 - implement Account route for GUI
* Purpose: Handlebar Script for account route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 26 Nov 2018 (bwp) - Moved under core (authenticated page)
***********************************************/
--}}

<div>
  <div id="parent">
    <div id="page-title-container">
      <h4 id="page-title">Update Account Info</h4>
      <br>
      <br>
    </div>
    <form onSubmit="">
        <input class="input" value="fname" id="fname" type="text" placeholder="First Name">
        <br>
        <input class="input" value="lname" id="lname" type="text" placeholder="Last Name">
        <br>
        <input class="input" id="address" type="text" placeholder="Address">
        <br>
        <input class="input" value="age" id="age" type="text" placeholder="Age">
        <br>
        <input class="input" id="sex-gender" type="text" placeholder="Sex/Gender">
        <br>
        <input class="input" value="orientation" id="orientation" type="text" placeholder="Orientation">
        <br>
        <input class="input" value="height" id="height" type="text" placeholder="Height (Inches)">
        <br>
        <input class="input" value="weight" id="weight" type="text" placeholder="Weight (Pounds)">
        <br>
    </form>
    {{#nod-button title="Apply" submit=(action "updateProfile")}}
    {{/nod-button}}
  </div>
</div>

{{outlet}}
