{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/account.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 89 - implement Account route for GUI
* Purpose: Handlebar Script for account route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 26 Nov 2018 (bwp) - Moved under core (authenticated page)
***********************************************/
--}}

<div>
  <div id="parent">
    <div id="page-title-container">
      <h4 id="page-title">Update Account Info</h4>
      <br>
      <br>
    </div>
    <form onSubmit="">
      <label>First Name:</label>
        <input class="input" id="fname" type="text" placeholder="First Name">
        <br>
      <label>Last Name:</label>
        <input class="input" id="lname" type="text" placeholder="Last Name">
        <br>
      <label>Age:</label>
        <input class="input" id="age" type="text" placeholder="Age">
        <br>
      <label>Sex/Gender:</label>
        <input class="input" id="sex-gender" type="text" placeholder="Sex/Gender">
        <br>
      <label>Orientation:</label>
        <input class="input" id="orientation" type="text" placeholder="Orientation">
        <br>
      <label>Height in inches:</label>
        <input class="input" id="height" type="text" placeholder="Height">
        <br>
      <label>Weight in lbs:</label>
        <input class="input" id="width" type="text" placeholder="Weight">
        <br>
      {{nod-button title="Apply"}}
    </form>
  </div>
</div>

{{outlet}}
