{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/account.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 89 - implement Account route for GUI
* Purpose: Handlebar Script for account route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 26 Nov 2018 (bwp) - Moved under core (authenticated page)
***********************************************/
--}}
<div id="topBar">NoDE Account Info Hamburger</div>
<div id="body">Update Account Info<br>
  <form onSubmit="">
    <label>First Name:</label><input type="text"><br>
    <label>Last Name:</label><input type="text"><br>
    <label>Age:</label><input type="text"><br>
    <label>Sex/Gender:</label><input type="text"><br>
    <label>Orientation:</label><input type="text"><br>
    <label>Height:</label><input type="text">
    <label>Weight:</label><input type="text"><br>

  </form>
  {{outlet}}</div>
<div id="footer">Footer placeholder - User Actions<br>
  <button>Apply</button><br>
</div>
