{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/dashboard.hbs
* Author:
* Creation Date: 18 Nov 2018
* Feature: 43 - implement Dashboard Route
* Purpose: Handlebar Script for dashboard route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 26 Nov 2018 (bwp) - Moved under core (authenticated page)
* - 28 Nov 2018 (bwp) - Added transitions to calendar, account, profile, post
* - 04 Dec 2018 (bwp) - Added correct component, fixed component field translations
* - 04 Dec 2018 (bwp) - added button to transition to core/post route
*   (TODO: At this point, still need to tie the correct post to the component)
*   (TODO: /core/post page needs to be built out with component or field data)
* - 04 Dec 2018 (aib) - Removed unnecessary labels
***********************************************/
--}}
<div id="topBar"></div>

<div>
{{#each model as |post|}}
  {{#post-dashboard
    id=post.id
    image=post.image 
    title=post.title
    description=post.description
    dateMade=post.dateMade
    payRate=post.payRate}}
  {{/post-dashboard}}
{{/each}}
</div>
<div id="footer"></div>

<button {{action "updateDashboard"}}>Update Postings</button>
<button onclick={{action "signOut"}}>Sign Out</button>