{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/dashboard.hbs
* Author:
* Creation Date: 18 Nov 2018
* Feature: 43 - implement Dashboard Route
* Purpose: Handlebar Script for dashboard route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 26 Nov 2018 (bwp) - Moved under core (authenticated page)
* - 28 Nov 2018 (bwp) - Added transitions to calendar, account, profile, post
{{#each model as |post|}}
  {{#post-dashboard title=post.title}}
{{/each}}
***********************************************/
--}}
<div id="topBar">NoDE Dashboard Hamburger</div>

<div>Each Post goes here
{{#each model as |post|}}
  {{#post-dashboard
    image=post.image 
    title=post.title
    description=post.description
    dateMade=post.dateMade
    payRate=post.payRate}}
  {{/post-dashboard}}
{{/each}}
</div>
<div id="footer">Footer placeholder</div>

<button {{action "updateDashboard"}}>Update Postings</button>
<button onclick={{action "signOut"}}>Sign Out</button>