{{!--
/************************************************
* Application:  NOD
* File:  app/templates/dashboard.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 43 - implement Dashboard Route
* Purpose: Handlebar Script for dashboard route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
*
* Licensing Information
***********************************************/
--}}
<div id="topBar">NoDE Dashboard Hamburger</div>
<div id="surveys">Survey Headline Model Placeholder{{outlet}}</div>
<div id="footer">Footer placeholder</div>
