{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/dashboard.hbs
* Author:
* Creation Date: 18 Nov 2018
* Feature: 43 - implement Dashboard Route
* Purpose: Handlebar Script for dashboard route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 25 Nov 2018 (bwp) - Consolidated dashboard to under core
***********************************************/
--}}
<div id="topBar">NoDE Dashboard Hamburger</div>
<div id="surveys">Survey Headline Model Placeholder{{outlet}}</div>
<div id="footer">Footer placeholder</div>
