{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/post.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 87 - implement Post route for GUI
* Purpose: Handlebar Script for post route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 25 Nov 2018 (bwp) - Relocated to core route
***********************************************/
--}}
<div id="topBar">NoDE Post Hamburger</div>
<div id="body">Post Information<br>
  <div>Post Picture</div>
  <div>Post Headline</div>
  <div>Post body</div>
  {{outlet}}</div>
<div id="footer">Footer placeholder - User Actions<br>
  <button>Accept</button><br>
</div>
