{{!--
/************************************************
* Application:  NOD
* File:  app/templates/core/profile.hbs
* Author: Bard Polley
* Creation Date: 18 Nov 2018
* Feature: 86 - implement Profile Route
* Purpose: Handlebar Script for profile route
* Modification History:
* - 18 Nov 2018 (bwp) - Initial build with placeholders
* - 25 Nov 2018 (bwp) - Relocated to core route
***********************************************/
--}}
<div id="topBar">NoDE Profile Hamburger</div>
<div id="body">Profile Information
  <div>User's Picture</div>
  <div>User's Personal Information</div>
  {{outlet}}</div>
<div id="footer">Footer placeholder - User Actions<br>
  <button>Update Account Info</button><br>
  <button>Update Payment Info</button><br>
  <button>Take the Lifestyle Survey Again</button>
</div>
